* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%
    font-family: sans-serif;
}

.container { 
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: auto;
    background-color: #eaeaea;
    box-shadow: .3rem .2rem .6rem #333;
    border-radius: .5rem;
    border: .1rem solid #000;
}

@media (max-width: 400px) {
    .container {
        width: 22rem;
    }
    .count button {
        padding: 1.1rem;
    }
}

.input-screen {
    width: 100%;
    padding: 1rem;
}

#input-screen__text {
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    font-size: 2rem;
    text-align: end;
    border: .1rem solid #000;
}

.count {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; 
    width: 100%;
    padding: 1rem;
}

button {
    padding: 1.3rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.4rem;
    border: .1rem solid #000;
    background-color: #888;
    transition: all .3s ease;
}

button:hover {
    background-color: #777;
}

.hitungan {
    background-color: orange;
    transition: all .3s ease;
}

.hitungan:hover {
    background-color: darkorange;
}

.angka {
    font-weight: bold;
    background-color: #444;
    color: #fff;
    transition: all .3s ease;
}

.angka:hover {
    background-color: #333;
}